/* hoja de estilos*/
body{
    background-color: black;
}
.logo-size{
    height: 40px;
    width: 40px;
}

.font-square{
    font-family: 'Square Peg', cursive;
    font-size: 2rem;
    color: white;
}
.carousel-indicators [data-bs-target] {
    position: relative;
    float: none;
    display: flex;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
  }
p{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg-color{
    background-color: #0dcaf0;
}
.icon{
    color: white;
    font-size: 2rem;
}